# Віртуальне середовище
venv/
ENV/
env/
.venv/

# Python-кеші
__pycache__/
*.py[cod]
*.pyo

# Файли налаштувань IDE
.vscode/
.idea/

# Змінні середовища
.env

# Файли журналів та тимчасові
*.log
*.tmp
*.swp

# Системні файли
.DS_Store
Thumbs.db

